input{
    width: 50px;
    height: 30px;
    
}
#calsetting{
    height: 70px;
}
td{
    border-bottom: 80px; 
}
td :hover{
    background-color: blue;
    color: white;
    font-weight: bold;
}
#input{
    width: 220px;
    height: 20px;
    box-shadow: 50px;
}
.clear{
    width:110px; 
}
button{
    background-color: blue;
}
.tablesetting{
    background-color: deeppink;
}